main {
    margin: 100px 200px;
    display: flex;
    min-height: 65vh;
}

main img {
    width: 500px;
}

h1 {
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
}

p {
    font-size: 12pt;
    line-height: 25px;
}

button {
    background-color: #D4F1F4;
    color: #05445E;
    padding: 5px;
    width: 150px;
    font-weight: bold;
    margin-top: 20px;
}

button:hover {
    background-color: #FCDFA6;
    cursor: pointer;
}